---
layout: default
title: Home
color-bg: black;
color-text: white;
---

<div class="wrap">
	<div class="home-intro">
		<p class="lead"><em>Joe Shoop</em> is an Independent Product Designer in Seattle, specializing in interface design for screens of all shapes and sizes, and working with people and companies who are making good things.</p>
		<p class="lead">Here are some of those things:</p>
	</div>
  <h2 class="projects">
  	{% for project in site.projects %}
    <span class="project-link" style="color:{{ project.color-headline }}">
    	<a href="{{ project.url | remove: "index.html" }}">
    		<span class="project-name"><span class="color-white">{{ project.title }}</span></span>{% if forloop.last == false %}, {% endif %}{% if forloop.last %}.{% endif %}
    		<span class="text-small">{{ project.roles }}</span>
    	</a>
      	<span class="sticky-background">
      		<div class="wrap">
      			<img class="sticky-background-image {{ project.thumbnail-size }}" src="{{ project.url | remove: "index.html" }}{{ project.thumbnail}}" />
      		</div>
      	</span>
    </span>
    {% endfor %}
  </span></h2>

  <img class="thanks" src="/r/images/Thanks.png" />
</div>