{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[the_collection]  %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
  		{% if forloop.last == false %}
    		{% assign next = document[forloop.index] %}
    	{% endif %}

    	{% if forloop.last %}
  			{% assign next = document[0] %}
  		{% endif %}

  {% endif %}
{% endfor %}

{% if next.url %}
<section class="next">
  <div>
    <div class="wrap">
      <h5>Next Project</h5>
      <h2><span class="project-title" style="color:{{ next.color-headline }}">
          <a class="project-wrap" href="{{ next.url | remove: "index.html" }}">
              <span class="project-name"><span class="color-text">{{ next.title }}</span></span>
              <span class="project-categories">{{ next.roles }}</span>
          </a>
        </span>
      </h2>
    </div>
  </div>
</section>
 <span class="project-thumbnail">
  <div class="wrap">
    <img class="project-thumbnail-image {{ next.thumbnail-size }}" src="{{ next.url | remove: "index.html" }}{{ next.thumbnail}}" />
  </div>
</span>
{% endif %}