@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin tablet {
  @media (all and min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (all and min-width: #{$desktop-width}) {
    @content;
  }
}
