// Theme for Slick Slider

$slick-dot-size: 20px;

.slider {
	margin-bottom:4rem;
}


.slick-list {
	overflow:visible !important;
	position: relative;
    display: block;
    max-width: $site-max-width;
    margin: 0 auto !important;
    padding: 0 $spacing*2 !important;
}

.slick-slide {
	outline:none;
	padding:0 1rem;
}

.slick-slide img {
	margin:0 auto;
	box-shadow: 0 20px 100px rgba(0, 0, 0, 0.1);
	width:320px;
	max-width:100%;
}

// Arrows

.slick-prev,
.slick-next {
	position: absolute;
    z-index:1000;
    display: block;
    height: calc(100% - 4rem);
    width: 8vw;
    top:0;
    padding:0 1rem;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    color: transparent;
    background:transparent;
    background-size:contain;
    border: none;
    outline: none;
    transition: background 600ms cubic-bezier(0.165, 0.84, 0.44, 1);;
    &:hover, &:focus {
        outline: none;
        // background: transparent;
        color: transparent;
        &:before {
            opacity: 1;
        }
    }
    &.slick-disabled:before {
        opacity: .4;
    }
}

.slick-prev {
	left:0;

	@media ($break-small) {
    	background: transparent url('/r/images/icon-arrow-prev.svg') center center no-repeat;

    	&:hover {
			background-position-x: 30%;
		}
    }
}
.slick-next {
	right:0;

	@media ($break-small) {
    	background: transparent url('/r/images/icon-arrow-next.svg') center center no-repeat;

    	&:hover {
			background-position-x: 70%;
		}
    }
}


// Dots

.slick-dots {
    list-style: none;
    text-align: center;
    margin-top:3rem;

    li {
        position: relative;
        display: inline-block;
        height: $slick-dot-size;
        width: $slick-dot-size;
        margin: 0 3px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: $slick-dot-size;
            width: $slick-dot-size;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "•";
                width: $slick-dot-size;
                height: $slick-dot-size;
                font-size:1.25rem;
                line-height: $slick-dot-size;
                text-align: center;
                opacity: .3;
                color:black;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            opacity: 1;
        }
    }
}