.full {
  height: 100vh;
  max-height:100vmin;
  min-height:50vw;
  z-index: 0;
}

.half {
  min-height:50vmin;
  // max-height:100vw;

  img {
    width:100%;
  }
}

.single {
  img {
    max-width:100%;
    display:block;
    margin:0 auto;
  }
}

.photo img {
  display:block;
  max-width:100%;
  margin:0 auto;
  margin:4rem 0;
  float:left;
  box-shadow:0 40px 80px rgba(0,0,0,.2);
}

.cover, .contain {
  background-position:center center;
  background-repeat: no-repeat;
}

.cover {
  background-size:cover;
}

.contain {
  background-size: contain;
}

.half-img {
  margin-left: $spacing;
  max-height:100vmin;

  @media ($break-small) {
    margin:$spacing*2 0 0;
    max-height:none;
  }
}

//
// Grid classes
//

  .grid, section {
    display: table;
    width: 100%;
    table-layout: fixed;
    overflow:hidden;
  }

@media ($break-small) {
  // Add `.grid` for the table

  // Add `.col` for the table cells, or columns
  .col, section > div {
    display: table-cell;
    vertical-align:middle;
  }

  // Padded columns
  .grid-padded {
    margin-left:  -1rem;
    margin-right: -1rem;
  }
  .grid-padded .grid {
    border-spacing: 1rem 0;
  }

  .col-1 { width: 8.333333%; }
  .col-2 { width: 16.666667%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.333333%; }
  .col-5 { width: 41.666667%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.333333%; }
  .col-8 { width: 66.666667%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.333333%; }
  .col-11 { width: 91.666667%; }
}

// Vertically center grid content
//
// Requires content within the column to be inline or inline-block.

.grid-align-middle .col {
  vertical-align: middle;
}

//
// Reverse column sorting
//

.grid-reverse {
  direction: rtl;
}

.grid-reverse .col, .grid-reverse > div {
  direction: ltr;
}