/*! Typebase.scss v0.1.0 | MIT License */

$baseFontStack:"NimbusSansDOT", sans-serif;
$headerFontStack:"Campton", serif;

$baseFontSize:20; // in px
$baseLineHeight:1.4;
$leading:$baseLineHeight * 1rem;
$minimumFontSize:13; // in px

$scale:1.5;
$mobile-scale: 1.25;

// $p: 1 :: 1.125;
// $h2: 1.5 :: 3;
// $h3: 1.5 :: 2;
// $text-small: .75 :: .825;


@function exponent($base, $exponent) {
  $value: $base;
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base;
    }
  }
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function modular-scale($scale-step) {
    $value: ( 1rem * exponent($scale, ($scale-step - 1)));

    @if $value <= ( $minimumFontSize / 16 ) {
        $value: $minimumFontSize / 16 * 1rem;
    }
    @return $value;
}

@function ms($scale-step) {
    $value: modular-scale($scale-step);
    @return $value;
}


/* Setup */

html {
    font-family: $baseFontStack;
    font-size: $baseFontSize / 16 * 100%;
    -webkit-font-smoothing: antialiased;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {     -webkit-font-smoothing: subpixel-antialiased; } 

/* Copy & Lists */

p {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: $leading;
    font-size:0.825rem;

    @media ($break-medium) {
        font-size:1rem;
    }
}

.text-small {
    margin-top:1rem;
    font-size: 0.75rem;
    line-height:1.4em;

    @media ($break-medium) {
        font-size:0.825rem;
    }
}

.smallcaps {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size:.625rem;
}

ul,
ol {
    margin-top: $leading;
    margin-bottom: $leading;
    font-size:0.825rem;

    @media ($break-medium) {
        font-size:1rem;
    }

    li {
        line-height: $leading;
    }
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}
blockquote {
    font-family: $headerFontStack;
    font-weight:700;
    line-height: 3rem;
    margin-bottom: $leading;
    margin-top:0;

    font-size: 1.5rem;
    line-height: $leading * 1.25;

    @media ($break-medium) {
        margin-top: $leading;
        font-size:2.25rem;
        line-height: $leading * 2;
        
    }
}
/* Headings */

h1,
h2,
h3,
h4 {
    /* Change heading typefaces here */
    font-family: $headerFontStack;
    // margin-top: $leading;
    margin-top:0;
    margin-bottom: 0;
    line-height: $leading;
}
h1 {
    line-height: $leading * 1.25;
    margin-top: $leading * 2;

    font-size: 1.5rem;

    @media ($break-medium) {
        font-size:3rem;
        line-height: $leading * 3;
        margin-top: $leading * 3;
    }
}
h2 {
    font-size: 2.25rem;
    line-height: $leading * 2;
    // margin-top: $leading * 2;
    font-weight:700;

    @media ($break-medium) {
        font-size:4rem;
        line-height: $leading * 3;
        
    }
}
h3 {
    font-size: ms(2);
    margin-top:1rem;
}
/* Tables */

table {
    margin-top: $leading;
    border-spacing: 0px;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
    line-height: $baseLineHeight * $baseFontSize - 0px;
}
// Code blocks

code {
    // Forces text to constrain to the line-height. Not ideal, but works.
    vertical-align: bottom;
}
// Leading paragraph text

.lead {
    font-size: 1rem;
    line-height: $leading * 1;

    @media ($break-medium) {
        font-size:1.25rem;
        line-height: $leading * 1;
        
    }
}
// Hug the block above you

.hug {
    margin-top: 0;
}