$color-primary: #1FC3E1;

$site-max-width: 80rem;

$break-medium: "min-width:62rem";
$break-small: "min-width:48rem";

$spacing: 1.5rem;

$animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);

// Typography

$baseFontStack:"Roboto", "Helvetia Neue", Helvetica, Arial, sans-serif;
$headerFontStack:"Campton-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monoFontStack:"Roboto Mono", "Courier New", Courier, mono;

$baseFontSize:18; // in px
$baseLineHeight:1.5;
$leading:$baseLineHeight * 1rem;
$minimumFontSize:10; // in px

$scale:1.414;
$mobile-scale: 1.25;

// Breakpoints

// $breakpoint-map: (
//     0: (
//         start:      0em,
//         max:        48em,
//         rootsize:   14px
//     ),
//     1: (
//         start:      48em,
//         max:        62em,
//         rootsize:   16px
//     ),
//     2: (
//         start:      62em,
//         max:        100em,
//         rootsize:   18px
//     )
// );