#main {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-duration: 1s;
}

.is-exiting .project-content, .is-exiting header {
  animation-direction:reverse;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.is-exiting .next {
    min-height:100vh;
}

