---
---

// =========================================
// Reset
// =========================================

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;}
.group:after { clear: both;}
.group { zoom: 1;}

@import "variables";

@import "mixins";

@import "tablegrid";

@import "transitions";

@import "typebase";

@import "slick";

@import "slick-theme";

html,body {
	min-height:100%;
}

body {
	position: relative;
	max-width:100%;
  color:$color-body-text;
  background:$color-body-bg;
}

::-webkit-scrollbar { 
    display: none; 
}

::selection {
  background:$color-primary;
  color:white;
}

a {
  color:$color-primary;
  text-decoration:none;
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.button {
  display:inline-block;
  border-bottom:2px solid;

  &:hover {
    color:$color-body-text;
  }
}

.nopadding {
  padding:0 !important;
}

.shadowed {
  box-shadow:0 40px 100px rgba(0,0,0,.1);
}

@media ($break-small) {
  .right-sm {
    text-align:right;
  }
}

.home-intro {

  @media ($break-medium) {
    max-width:50%;
  }
}

// =========================================
// Navigation
// =========================================

nav {
	z-index:1000;

  a, a:hover {
    color:currentColor;
  }

  ul {
    list-style-type: none;
    display:inline;
  }

  li {
    display:inline-block;

    & + li {
      padding-left:1rem;
    }

    &.current a {
      opacity:1;
    }

    &.current a {
      border-bottom:2px solid $color-primary;
    }
  }
}

header a, footer nav a {
  color:currentColor;
  opacity:.4;

  &:hover {
    opacity:1;
  }
}

.header-container {
  height:$spacing * 3;
  min-height:$spacing * 3;
}

@media ($break-medium) {
  .home {
    display:inline;
  }
}

// =========================================
// Project Page
// =========================================

.projects {
  margin:4rem 0;

  @media ($break-medium) {
    margin:10vw 0;
  }
}

.project {
  min-height:100vh;

  &-header {
    display:table;
    height:calc(50vh - (#{$spacing} * 3));
    min-height:calc(50vh - (#{$spacing} * 3));
    padding:$spacing 0;
    width:100%;


    & > div {
      display:table-cell;
      vertical-align:bottom;
    }
  }

  &-content {
    background:white;
    color:black;
  }
}

.highlight {
    position:relative;
    white-space: nowrap;
}
.highlight:after {
    content:"";
    position:absolute;
    z-index:-1;
    top:1.25em;
    right:-.2em;
    bottom:-.2em;
    left:-.2em;
    border-radius:4px;
    background-color:transparentize($color-primary, .5);
}

.copy {
  max-width:50rem;
  padding:$spacing;
  margin:0 auto;

  @media ($break-medium) {
      padding:10vw $spacing * 2;
  }
}

.wrap {
  max-width:$site-max-width;
  margin:0 auto;
  padding: 0 $spacing;

  @media ($break-small) {
    padding:0 $spacing*2;

    .half & {
      float:right;
      width:100%;
      max-width:$site-max-width/2;
    }

    .half + .half & {
      float:left;
    }
  }
}

// =========================================
// Grid Stuff
// =========================================

.full {
  height: 100vh;
  max-height:100vmin;
  min-height:50vw;
  z-index: 0;
}

.half {
  min-height:50vmin;
  // max-height:100vw;

  img {
    width:100%;
  }
}

.single {
  img {
    max-width:100%;
    display:block;
    margin:0 auto;
  }
}

.photo img {
  display:block;
  max-width:100%;
  margin:0 auto;
  margin:4rem 0;
  float:left;
  box-shadow:0 40px 80px rgba(0,0,0,.2);
}

.cover, .contain {
  background-position:center center;
  background-repeat: no-repeat;
}

.cover {
  background-size:cover;
}

.contain {
  background-size: contain;
}

.half-img {
  margin-left: $spacing;
  max-height:100vmin;

  @media ($break-small) {
    margin:$spacing*2 0 0;
    max-height:none;
  }
}

// =========================================
// Project Navigation
// =========================================

.project-link {
  position:relative;
  display:inline;
  min-height:0;

  a {
    display:inline;
    color:currentColor;
    position:relative;

    .project-name {
      padding: .25em .25em 0;
      margin: -.25em;
    }

    &:hover {
      z-index:101;

      .project-name {
        background:currentColor;
      }

      @media ($break-medium) {
        .text-small {
          display:block;
        }
    }

    }
  }

  .color-white {
    color:white;
  }

  .text-small {
    display:none;

    @media ($break-medium) {
      position:absolute;
      top:100%;
      left:0;
      background:white;
      color:#555;
      margin:-1em 0 0;
      padding:.5em 1em;
      white-space:nowrap;
    }
  }

  .sticky-background {
    display:none;

    @media ($break-medium) {
      display:flex;
      align-items: center;
      justify-content: center;
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:0;
      opacity:0;
      pointer-events:none;

      .wrap {
        text-align:center;
      }

      &-image {
        box-shadow:0 40px 80px rgba(0,0,0,.8);
        position:relative;
        max-width:calc(100% - 8rem);
        max-height:100vh;
        margin:4rem 0;
      }

      &-image.big {
        box-shadow:none;
        position:relative;
        max-width:none;
        max-height:none;
        margin:0;

        -webkit-filter: drop-shadow(0 40px 80px rgba(0,0,0,0.8));
        filter: url(#drop-shadow);
        -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=40, Color='#000')";
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=40, Color='#000')";
      }

      &-image.rotate {
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(50deg) rotateY(15deg) rotateZ(330deg);
        perspective: 1000px;
        perspective-origin: 50% 50%;
      }
    }
  }

  a:hover ~ .sticky-background {
    opacity:1;
    background: rgba(125,125,125,.7);
    background: rgba(0,0,0,.7);
    z-index: 100;
  }

  a, .sticky-background, .sticky-background-image {
    transition:z-index 0s,  opacity .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    // animation-direction:alternate;
  }
}

.next {
  color:white;
  background:black;
  padding:5rem 0;
  min-height:20rem;

  h5 {
    margin-bottom:$spacing;

    @media ($break-medium) {
      margin-bottom:$spacing * 2;
    }
  }
}

// =========================================
// Footer
// =========================================

.thanks {
  margin:4rem 0 2rem;
  max-width:50%;
}

footer {
  background:$color-footer-bg;
  color:$color-footer-text;
  padding-bottom:$spacing * 2;

  & section > div {
    vertical-align: baseline;
  }
}

// =========================================
// Contact Form
// =========================================

form.contact {
  margin-bottom:3rem;

  .field--wrapper {
    position:relative;
    margin-bottom:20px;
  }

  label {
    position:absolute;
    pointer-events:none;
    top:1em;
    left:0;
    font-size:.75rem;
    color:#aaa;
    opacity:0;
  }
  label.on {
    color:$color-primary;
  }
  label.show {
    top:0;
    opacity:1;
  }

  label, input, textarea {
    transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: top, height;
  }

  input, textarea {
    font-family:$baseFontStack;
    width:100%;
    border:none;
    border-bottom:1px solid #aaa;
    outline:none;
    font-size:1rem;
    padding: 1.75em 0 0.5em 0;
    background:transparent;
    color:currentColor;

    & + .icon-valid {
      pointer-events:none;
      position:absolute;
      right:0;
      top:1.75em;
      height:1em;
      width:1em;
      background:url('/r/images/icon-smiley.svg');
      background-size:cover;
      opacity:0;
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &[valid="true"] + .icon-valid {
      top:1.25em;
      opacity:1;
    }
  }

  .show + textarea {
    height:10em;
  }

  .submit {
    font-family:$headerFontStack;
    font-weight:bold;
    padding:1em;
    height:auto;
    margin-top:2rem;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    background:$color-primary;
    border:1px solid $color-primary;
    box-shadow:0 30px 60px rgba(0,0,0,0.2);
    @include color-contrast($color-primary, white, black, 20%);
    cursor:pointer;

    &[disabled] {
      background:white;
      border:1px solid rgba(0,0,0,0.1);
      box-shadow:0 5px 10px rgba(0,0,0,0.1);
      color:#aaa;
      cursor:not-allowed;
    }
  }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color:black;
}