---
---

// =========================================
// Reset
// =========================================

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;}
.group:after { clear: both;}
.group { zoom: 1;}

@import "variables";

@import "mixins";

@import "tablegrid";

@import "transitions";

@import "typebase";

@import "slick";

@import "slick-theme";

html,body {
	min-height:100%;
}

body {
	position: relative;
	max-width:100%;
  color:$color-body-text;
  background:$color-body-bg;
}

::-webkit-scrollbar { 
    display: none; 
}

::selection {
  background:$color-primary;
  color:white;
}

a {
  color:$color-primary;
  text-decoration:none;
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.button {
  display:inline-block;
  border-bottom:2px solid;

  &:hover {
    color:$color-body-text;
  }
}

.nopadding {
  padding:0 !important;
}

.shadowed {
  box-shadow:0 40px 100px rgba(0,0,0,.1);
}

@media ($break-small) {
  .right-sm {
    text-align:right;
  }
}

// =========================================
// Navigation
// =========================================

nav {
	z-index:1000;

  a, a:hover {
    color:currentColor;
  }

  ul {
    list-style-type: none;
    display:inline;
  }

  li {
    display:inline-block;

    & + li {
      padding-left:1rem;
    }

    &.current a {
      opacity:1;
    }

    &.current a {
      border-bottom:2px solid $color-primary;
    }
  }
}

header a, footer nav a {
  color:currentColor;
  opacity:.4;

  &:hover {
    opacity:1;
  }
}

.header-container {
  min-height:$spacing * 3;
}

@media ($break-medium) {
  .home {
    display:inline;
  }
}

// =========================================
// Project Page
// =========================================

.project {
  min-height:100vh;

  &-header {
    display:table;
    min-height:calc(50vh - (#{$spacing} * 3));
    padding:$spacing 0;
    width:100%;

    & > div {
      display:table-cell;
      vertical-align:bottom;
    }
  }

  &-content {
    background:white;
    color:black;
  }
}

.copy {
  max-width:50rem;
  padding:$spacing;
  margin:0 auto;

  @media ($break-medium) {
      padding:10vw $spacing * 2;
  }
}

.wrap {
  max-width:$site-max-width;
  margin:0 auto;
  padding: 0 $spacing;

  @media ($break-small) {
    padding:0 $spacing*2;

    .half & {
      float:right;
      width:100%;
      max-width:$site-max-width/2;
    }

    .half + .half & {
      float:left;
    }
  }
}

// =========================================
// Grid Stuff
// =========================================

.full {
  height: 100vh;
  max-height:100vmin;
  min-height:50vw;
  z-index: 0;
}

.half {
  min-height:50vmin;
  max-height:100vw;

  img {
    width:100%;
  }
}

.photo img {
  display:block;
  max-width:100%;
  margin:0 auto;
  margin:4rem 0;
  float:left;
  box-shadow:0 40px 80px rgba(0,0,0,.2);
}

.cover, .contain {
  background-position:center center;
  background-repeat: no-repeat;
}

.cover {
  background-size:cover;
}

.contain {
  background-size: contain;
}

.half-img {
  margin-left: $spacing;
  max-height:100vmin;

  @media ($break-small) {
    margin:$spacing*2 0 0;
    max-height:none;
  }
}

// =========================================
// Project Navigation
// =========================================

.next {
  color:white;
  background:black;

  a {
    padding: $spacing 0;
    display:table;
    width:100%;

    @media ($break-small) {
      min-height:15rem;
    }

    @media ($break-medium) {
      min-height:20rem;
    }
  }

  a, a:visited {
    color:currentColor;
  }

  .wrap {
    display:table-cell;
    vertical-align: middle;
  }

  h5 {
    margin-bottom:$spacing;

    @media ($break-medium) {
      margin-bottom:$spacing * 2;
    }
  }
}

// =========================================
// Footer
// =========================================

footer {
  background:$color-footer-bg;
  color:$color-footer-text;
  padding-bottom:$spacing * 2;

  & section > div {
    vertical-align: baseline;
  }
}
